footer {
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
}

.icon {
    font-size: 18px;
    color: #2a225c;
}

.copyright {
    text-align: right;
    color: #2a225c;
    font-weight: 600;
}

p {
    margin: 0;
    padding: 1em;
}